@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-halloween-dark text-white font-sans;
}

h1,
h2,
h3 {
  @apply font-spooky tracking-wider;
}